<html>
	<body bgcolor='pink'>
		<table align='center' cellspacing='10'>
			<tr><td align='center'>
				<font color='Green'>
					<br>
					<h1 align='center'>Pavana Medical Agency</h1>
					<h2 align='center'> Your Billing Details </h2>
				</font>
				<table border=1 align='center' cellpadding=10>
					<tr>
						<th>Batch Number</th>
						<th>Item Name</th>
						<th>Company</th>
						<th>Price Per Item</th>
						<th>Number of Items Requested</th>
						<th>Total price</th>
					</tr>

					
						<tr>
							<td align='center'>123</td>
							<td align='center'>Item_name1</td>
							<td align='center'>Comapany1</td>
							<td align='center'>12.2</td>
							<td align='center'>3</td>
							<td align='center'>36.6</td>
						</tr>
					
						<tr>
							<td align='center'>124</td>
							<td align='center'>Item_name2</td>
							<td align='center'>Comapany2</td>
							<td align='center'>10.03</td>
							<td align='center'>9</td>
							<td align='center'>90.27</td>
						</tr>
					
					<tr>
						<td colspan=5 align='center'> Total Sum </td>
						<td align='center'>126.87</td>
					</tr> 
				</table>
				<br><br><br><br><br><br><br><br>
				<font color='blue'><h3 align='center'> Dealers Signature &nbsp;&nbsp;
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Approver Signature</h3></font>
			</td></tr>
		</table>
		<a href='/send_mail/' align='center'><input type='button' value='Send Invoice'></a>
		<a href='/print_page/' align='center'><input type='button' value='Print Page'></a>
	</body>
</html>