<html>
	<head>
		<title>Home Page</title>
	</head>
	<body bgcolor='pink'>
		<font color='Green'><strong><h1 align='center'>Sri Pavana Medical Agency</h1></strong></font>
		<font color='Gray'><marquee> Welcome Dear Guest.. Please Login to continue</marquee></font>
		<br><br><br><br><br><br><br><br><br>
		<form action='/login/' method='GET'>
		<table align='center' border=1>
			<tr><th>Username</th>
				<td><input type='text' name='user'></td></tr>
			<tr><th>Password</th>
				<td><input type='password' name='pwd'></td></tr>
			<tr><td align='center'><input type='submit' value='Submit'></td>
				<td align='center'><input type='reset' value='Reset'></td>
			</tr>
		</table>
		</form>
	</body>
</html>